#Ceci est le fichier .gitignore, il permet de ne pas upload certain dossier/fichier sur le git
#les fichiers objets
OBJECT/*.o
#les fichiers text
IN_OUT/Output.txt
IN_OUT/DebugOutput.txt
IN_OUT/Output_simple.txt
IN_OUT/Output_thread.txt
IN_OUT/stats.txt
#les executables
SCRIPTS/fact
SCRIPTS/test
SCRIPTS/minirun

#pour ceux qui utilisent vscode
/.vscode
#pour ceux qui utilisent CLion
/cmake-build-debug
/.idea