#Ceci est le fichier .gitignore, il permet de ne pas upload certain dossier/fichier sur le git
#les fichiers objets
*.o
#les fichiers text
Output.txt
DebugOutput.txt
Output_simple.txt
Output_thread.txt
Output_python.txt
stats.txt
#les executables
debug
test_lib
test_files
Prime

#pour ceux qui utilisent vscode
/.vscode
#pour ceux qui utilisent CLion
/cmake-build-debug
/.idea