#Ceci est le fichier .gitignore, il permet de ne pas upload certain dossier/fichier sur le git

# ignorer les fichiers o

*.o

#ingorer le dossier valgrind

/valgrind-3.15.0

#ignorer le dossier CUnit (p-e à retirer)

/CUnit-2.1-3

testPrincipaleOutput.txt